In [1]:

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

import os

In [2]:
DATA_DIR = "/kaggle/input/sales/"

In [3]:
orders = pd.read_csv(DATA_DIR+"orders.csv")

In [4]:
sales = pd.read_csv(DATA_DIR+"sales_data_sample.csv", encoding="latin")

In [12]:
orders.head()

,order_id,order_dow,order_hour_of_day,days_since_prior_order,air_fresheners_candles,asian_foods,baby_accessories,baby_bath_body_care,baby_food_formula,bakery_desserts,...,spreads,tea,tofu_meat_alternatives,tortillas_flat_bread,trail_mix_snack_mix,trash_bags_liners,vitamins_supplements,water_seltzer_sparkling_water,white_wines,yogurt
0,1597,1,8,4,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1,2011,4,10,30,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2822,0,8,29,0,0,0,0,1,0,...,0,0,0,2,0,0,0,0,0,2
3,2889,1,15,8,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,1
4,3971,2,18,8,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [13]:
sales.head()

,ordernumber,quantityordered,priceeach,orderlinenumber,sales,orderdate,status,qtr_id,month_id,year_id,...,addressline1,addressline2,city,state,postalcode,country,territory,contactlastname,contactfirstname,dealsize
0,10107,30,95.70,2,2871.00,2/24/2003 0:00,Shipped,1,2,2003,...,897 Long Airport Avenue,NaN,NYC,NY,10022,USA,NaN,Yu,Kwai,Small
1,10121,34,81.35,5,2765.90,5/7/2003 0:00,Shipped,2,5,2003,...,59 rue de l'Abbaye,NaN,Reims,NaN,51100,France,EMEA,Henriot,Paul,Small
2,10134,41,94.74,2,3884.34,7/1/2003 0:00,Shipped,3,7,2003,...,27 rue du Colonel Pierre Avia,NaN,Paris,NaN,75508,France,EMEA,Da Cunha,Daniel,Medium
3,10145,45,83.26,6,3746.70,8/25/2003 0:00,Shipped,3,8,2003,...,78934 Hillside Dr.,NaN,Pasadena,CA,90003,USA,NaN,Young,Julie,Medium
4,10159,49,100.00,14,5205.27,10/10/2003 0:00,Shipped,4,10,2003,...,7734 Strong St.,NaN,San Francisco,CA,NaN,USA,NaN,Brown,Julie,Medium

In [5]:
sales.columns = [col.lower() for col in sales.columns]

In [ ]:
sales.head()

In [ ]:
sales.columns

In [6]:
orders.columns =  [col.replace(" ", "_") for col in orders.columns]

In [ ]:
orders.head()

In [ ]:
orders.columns

In [ ]:
sales['ordernumber'].describe()

In [ ]:
#pip install sentence_transformers openai

In [ ]:
from transformers import GPT2TokenizerFast
import openai


os.environ['OPENAI_API_KEY'] = "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"

In [ ]:
openai.api_key = os.environ.get('OPENAI_API_KEY')
COMPLETIONS_MODEL = "text-davinci-003"

In [ ]:
COMPLETIONS_API_PARAMS = {
    # We use temperature of 0.0 because it gives the most predictable, factual answer.
    "temperature": 0.2,
    "max_tokens": 500,
    "n": 1,
    "stop": None,
    "model": COMPLETIONS_MODEL,
}

In [ ]:
prompt1 = f""" Please analyse the datasets {sales} and {orders} and use the contactfirstname and contactlastname columns to come up with rules to determine if the user is male or female"
"""

In [ ]:
def generate_answer(prompt):
    #Pass the generated prompt and pass it to gpt-3 to get answers.
    response = openai.Completion.create(
                prompt=prompt,
                **COMPLETIONS_API_PARAMS
            )

    return response["choices"][0].text

In [ ]:
generate_answer(prompt1).split('\n')

In [9]:
joined_data = orders.merge(sales, left_on="order_id", right_on="ordernumber")

In [ ]:
from transformers import pipeline
import pandas as pd



# pipeline model
# Note: you must to install torch-scatter first.
tqa = pipeline(task="table-question-answering", model="google/tapas-base-finetuned-wtq")

In [7]:
question = "Which city has my best sales?"

In [ ]:
sales = sales.astype(str)

In [ ]:
print(tqa(table=joined_data.astype(str), query=question))

In [ ]:
from transformers import TapexTokenizer, BartForConditionalGeneration


tokenizer = TapexTokenizer.from_pretrained("microsoft/tapex-large-finetuned-wtq")
model = BartForConditionalGeneration.from_pretrained("microsoft/tapex-large-finetuned-wtq")

In [ ]:
# tapex accepts uncased input since it is pre-trained on the uncased corpus

encoding = tokenizer(table=joined_data.astype(str), query=question, return_tensors="pt")

outputs = model.generate(**encoding)

print(tokenizer.batch_decode(outputs, skip_special_tokens=True))
# [' 2008.0']

In [ ]:
prompt2= f""" give me the answer to this question {question} from {sales} and {orders}"
"""

In [ ]:
generate_answer(prompt2).split('\n')

In [ ]:
#from transformers import pipeline
question_answerer = pipeline("question-answering", model='distilbert-base-cased-distilled-squad')

In [ ]:
result = question_answerer(question="What is my top earning sale item?", context=f'{joined_data}')
print(
f"Answer: '{result['answer']}', score: {round(result['score'], 4)}, start: {result['start']}, end: {result['end']}")

In [ ]:
pip install tableqa

In [11]:
from tableqa.agent import Agent

agent = Agent(joined_data.astype(str))

#Ask a question
agent.query_db(question)

/opt/conda/lib/python3.7/site-packages/tableqa/database.py:26: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  data_frame = data_frame.fillna(data_frame.mean())

[('3782.0', 'Frankfurt'),
 ('3773.38', 'Frankfurt'),
 ('1404.0', 'Frankfurt'),
 ('2472.96', 'Frankfurt'),
 ('8602.92', 'Lyon'),
 ('3142.36', 'Lyon'),
 ('3114.4', 'Lyon'),
 ('2622.48', 'Lyon'),
 ('5614.56', 'Lyon'),
 ('3949.65', 'Lyon'),
 ('4301.15', 'Lyon'),
 ('1788.0', 'Lyon'),
 ('1968.3', 'Lyon'),
 ('2837.46', 'Lyon'),
 ('3222.0', 'Lyon'),
 ('3424.7', 'Lyon'),
 ('4447.4', 'Lyon'),
 ('2818.53', 'Lyon'),
 ('2682.96', 'Lyon')]